Quartis

In [18]:
import pandas as pd
import numpy as np
import math

In [19]:
dados = [150, 151, 152, 152, 153, 154, 155, 155, 155]
dados

[150, 151, 152, 152, 153, 154, 155, 155, 155]

In [20]:
np.median(dados)

np.float64(153.0)

In [21]:
#posição mediana
n = len(dados)
posicao_mediana = math.floor(n / 2)
posicao_mediana

4

In [27]:
esquerda = dados[0:posicao_mediana]
np.median(esquerda)

np.float64(151.5)

In [31]:
direita = dados[posicao_mediana + 1:]
direita

[154, 155, 155, 155]

In [32]:
np.median(direita)

np.float64(155.0)

Numpy

In [35]:
np.quantile(dados, 0.5)

np.float64(153.0)

In [36]:
np.quantile(dados, 0.75)

np.float64(155.0)

In [37]:
np.quantile(dados, 0.25)

np.float64(152.0)

In [39]:
esquerda2 = dados[0: posicao_mediana + 1]
esquerda2

[150, 151, 152, 152, 153]

In [40]:
np.median(esquerda2)

np.float64(152.0)

In [42]:
np.quantile(dados, 0.25), np.quantile(dados, 0.5), np.quantile(dados, 0.75)

(np.float64(152.0), np.float64(153.0), np.float64(155.0))

Pandas

In [46]:
dataset = pd.DataFrame(dados)
dataset.head()

     0
0  150
1  151
2  152
3  152
4  153

In [47]:
dataset.quantile([0.25, 0.5, 0.75])

          0
0.25  152.0
0.50  153.0
0.75  155.0

In [48]:
# Describe - estatística da base de dados
dataset.describe()

                0
count    9.000000
mean   153.000000
std      1.870829
min    150.000000
25%    152.000000
50%    153.000000
75%    155.000000
max    155.000000